################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Martinez_Marithe_ShoppingCartActivity.slnx/FileContentIndex
